tune        = base
ext         = infra-default_O0
reportable  = no
teeout      = yes
teerunout   = no
makeflags   = -j16
strict_rundir_verify = no
%ifdef %{output_root}
  output_root = %{output_root}
%endif

default=default=default=default:
CC          = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang -O0 -Wno-int-conversion -DSPEC_OPENMP -fopenmp -Wno-deprecated-non-prototype
CXX         = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang++ -O0 -Wno-int-conversion
FC          = /usr/bin/gfortran
CLD         = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang -Wl,-z,now -fopenmp -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
CXXLD       = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang++ -Wl,-z,now -fopenmp -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
COPTIMIZE   = -std=gnu89
CXXOPTIMIZE = -std=c++98
%ifdef %{run_wrapper}
  monitor_wrapper = %{run_wrapper} $command
%endif

default=base=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

403.gcc=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

462.libquantum=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

464.h264ref=default=default=default:
CPORTABILITY   = -fsigned-char

482.sphinx3=default=default=default:
CPORTABILITY   = -fsigned-char

483.xalancbmk=default=default=default:
CXXPORTABILITY   = -DSPEC_CPU_LINUX

481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX

__MD5__
471.omnetpp=base=infra-default_O0=default:
# Last updated Tue Jul 30 02:21:35 2024
optmd5=baef93934890b860daf2c68db0a414f7
baggage=
compile_options=\
@eNrVk91PwjAQwN/3V1z2Okp9MEYJkLCBOB1skRHQl2UrBSqlJWsHCX+95RuiiSbqg02a9nJfvd9d\
vbATVQBP5ZxiTZXGK5nP1CIlFI25TPVaCopPN86XczSi47TgGuOMCUx4KiaOAyi8AjQQEjGhEZFi\
SXPFpABEAEmQC20EVZaAmr2o5SVe1DfXbrPl9tuA/LLZci6oTpggvBhRI3OWKUzFkuUAgJQe1Yjj\
3N1uhGOMJIhurmG3qkoWOaF1y6uANxzW7L+ryt7nCN3HMIpr9kWRtmWImrfdB412z+g+Fry1cFtd\
7yE5GH1BwLbCXcIo9jv+a8t4HIFso0Xhc9xw/cCPX85TbvnYVuB3n36nywNeQuuSkCtAY7mgYr4A\
FHw7cFYwPsJGPUsnVOG8UOY0XAuhDVjMhNIp59jUvcuEVlPJKUpzMmVLQ4RXjGrndXAqp3tT06RL\
68uh+XxmoCqzN0q0qsNpnVq5aXPQ/J1J+j/kfjhsW2Zhf/Mtzv7EO405c1I=
exemd5=46098cc08a0d28012779457d041446e3

