tune        = base
ext         = infra-giantasan_O0
reportable  = no
teeout      = yes
teerunout   = no
makeflags   = -j16
strict_rundir_verify = no
%ifdef %{output_root}
  output_root = %{output_root}
%endif

default=default=default=default:
CC          = /home/test/GiantSan-Artifact/LLVM-GiantSan//bin/clang -O0 -Wno-int-conversion -fsanitize=address
CXX         = /home/test/GiantSan-Artifact/LLVM-GiantSan//bin/clang++ -O0 -Wno-int-conversion -fsanitize=address
FC          = /usr/bin/gfortran
CLD         = /home/test/GiantSan-Artifact/LLVM-GiantSan//bin/clang -fsanitize=address -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
CXXLD       = /home/test/GiantSan-Artifact/LLVM-GiantSan//bin/clang++ -fsanitize=address -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
COPTIMIZE   = -std=gnu89
CXXOPTIMIZE = -std=c++98
%ifdef %{run_wrapper}
  monitor_wrapper = %{run_wrapper} $command
%endif

default=base=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

403.gcc=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

462.libquantum=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

464.h264ref=default=default=default:
CPORTABILITY   = -fsigned-char

482.sphinx3=default=default=default:
CPORTABILITY   = -fsigned-char

483.xalancbmk=default=default=default:
CXXPORTABILITY   = -DSPEC_CPU_LINUX

481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX

__MD5__
470.lbm=base=infra-giantasan_O0=default:
# Last updated Thu Jul 25 15:04:00 2024
optmd5=52cadf5f84cf7335213bdb0963c8330c
baggage=
compile_options=\
@eNrVUk1PwjAYvu9XNDtb6sEYJYxkG4jTji0yNHohXVegUlqydpjw6+3ACUS9YDz4Xtb0fZ5tz0eY\
xGkboLlaMmSYNmjAiTQjIqFfGj4l1CCMH2PYXCOUc4moIHIGYHIO4JNUkEsDqZJrVmquJIBTTSQ3\
fMM8UhQl0xpACqACamXsXrcUgL1R2g8nYTq2x2GvH4wHwA7UpvBmsrq6BrvZ4yY4vbwAzXS0qkrK\
uk7YBmHouX8twN1+KAnukjTz3CM1rmMNtD94g/3ByO6+KnOdpCanWRRHL30L+VS55abJQ+YHEY6y\
50P6VrDr4Gh4f3JA3wSBD171psqFXhHK4FQoYjZKMrQ/5RUXBbLrBZkxjcpK26e1qZLG+oS41IYI\
gQTPrYniDMK3uRIMkpLO+ZoBKNp2tWM1pBb5gFrPj9HH2f8Qe0flr4wa3a3hYtlc77OoU8K9k+vw\
b+z6VaOsR7Gf3U5wFNR9FUt3Z1syrqt90Ot3N61Wjw==
exemd5=754876f6936c3a3bdea6d60d9949752b

