tune        = base
ext         = infra-asan_O0
reportable  = no
teeout      = yes
teerunout   = no
makeflags   = -j16
strict_rundir_verify = no
%ifdef %{output_root}
  output_root = %{output_root}
%endif

default=default=default=default:
CC          = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang -O0 -Wno-int-conversion -fsanitize=address -fno-sanitize-address-use-after-scope -fsanitize-address-use-after-return=never -DSPEC_OPENMP -fopenmp -Wno-deprecated-non-prototype
CXX         = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang++ -O0 -Wno-int-conversion -fsanitize=address -fno-sanitize-address-use-after-scope -fsanitize-address-use-after-return=never
FC          = /usr/bin/gfortran
CLD         = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang -fsanitize=address -fno-sanitize-address-use-after-scope -fsanitize-address-use-after-return=never -fopenmp -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
CXXLD       = /home/test/workspace-floatzone/floatzone/llvm-default//bin/clang++ -fsanitize=address -fno-sanitize-address-use-after-scope -fsanitize-address-use-after-return=never -fopenmp -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
COPTIMIZE   = -std=gnu89
CXXOPTIMIZE = -std=c++98
%ifdef %{run_wrapper}
  monitor_wrapper = %{run_wrapper} $command
%endif

default=base=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

403.gcc=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

462.libquantum=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

464.h264ref=default=default=default:
CPORTABILITY   = -fsigned-char

482.sphinx3=default=default=default:
CPORTABILITY   = -fsigned-char

483.xalancbmk=default=default=default:
CXXPORTABILITY   = -DSPEC_CPU_LINUX

481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX

__MD5__
453.povray=base=infra-asan_O0=default:
# Last updated Tue Jul 30 02:32:08 2024
optmd5=d7e26e8500c7bb25507559bb2f04bb4f
baggage=
compile_options=\
@eNrtU01PAjEQvfMrmr3iWA/GKHFJYEGzurAbhYheSOl2pVJa0nYx4dc7fMhH9GCiMTFxLtudedPp\
zHsTpZ2sRujYTAX1wnn6auzEzRgXUCjD/MJoQXcnpeZTyEXBSuUpHUlNuWL6uVolkJ4QeNAGpPbA\
jZ4L66TRBArHtPRyIUKW51Y4hy6EvXth44XS4bnwwoLjZib2Ej+BWOFLq0MtsAwBTsAQM/NYzx0b\
Aq37rB0No6yPx26r3exfEzRwPg95tXpxvvzZYoZJdnZK1nbpTGm5qFeiGokGgzD404MJNm2kzZs0\
64XBwZyCCvKO7V8ljet7jH2cWVBJ1+lZL+7ET20EbSe4ys7Su16jGSdx73H/gtVAg0oSd29/Rlm/\
oKAC8Xo6I5B8+cGjUqqcYnjCnoWjtnT4RYJLjdc7KrXzTCmq5AjpV0cAr2OjsLrlYznHx6kahtZZ\
70nHbAPF7g7Rh+r9XLzk0oxeBPeuTna2I3wphqT1M5L+Z+Sby7HiIu0vl3JvI98A1Rjn1Q==
exemd5=05d4af0dc0acaaa2bed3f268ce41297d

