#--------- Global Settings -----------
label                 = infra-hwasan_O0
makeflags             = -j16
reportable            = no
strict_rundir_verify  = no
teeout                = yes
tune                  = base

#--------- How Many CPUs? ------------
intrate,fprate:
   copies            = 16
intspeed,fpspeed:
   threads           = 16

#--------- Compilers -----------------
default:
    CC                 = /home/test/workspace-15/llvm//build//bin/clang -O0 -g -ggdb -Wno-int-conversion -fsanitize=hwaddress -I/home/test/workspace-15/llvm/build/projects/openmp/runtime/src -DSPEC_OPENMP -fopenmp -Wno-deprecated-non-prototype
    CXX                = /home/test/workspace-15/llvm//build//bin/clang++ -O0 -g -ggdb -Wno-int-conversion -fsanitize=hwaddress -I/home/test/workspace-15/llvm/build/projects/openmp/runtime/src
    FC                 = /usr/bin/gfortran
    CLD                = /home/test/workspace-15/llvm//build//bin/clang -fsanitize=hwaddress -I/home/test/workspace-15/llvm/build/projects/openmp/runtime/src -fopenmp -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
    CXXLD              = /home/test/workspace-15/llvm//build//bin/clang++ -fsanitize=hwaddress -I/home/test/workspace-15/llvm/build/projects/openmp/runtime/src -fopenmp -L/home/test/workspace-floatzone/floatzone/build/packages/rusage-counters/install/lib -Wl,--whole-archive -l:librusagecounters.a -Wl,--no-whole-archive
    COPTIMIZE          = -std=c99
    CXXOPTIMIZE        = -std=c++03
    CC_VERSION_OPTION  = --version
    CXX_VERSION_OPTION = --version
    FC_VERSION_OPTION  = --version

#--------- Portability -----------------
default:
     EXTRA_PORTABILITY = -DSPEC_LP64

500.perlbench_r,600.perlbench_s:
PORTABILITY   = -DSPEC_LINUX_X64

523.xalancbmk_r,623.xalancbmk_s:
PORTABILITY   = -DSPEC_LINUX

502.gcc_r,602.gcc_s=peak:
LDOPTIMIZE   = -z muldefs

intrate,intspeed:
LDCFLAGS   = -z muldefs

__HASH__
500.perlbench_r=base=infra-hwasan_O0:
# Last updated 2024-07-28 02:05:00
opthash=3e6db8e86a9824ac43421f9f8e129f65df42167e3187bdb34f502b7a80824772
baggage=
compiler_version=\
@eNoNxUsOgjAQANB9T9ELlEoiaLpFFmzEKHFLKp1AwzAl/QDHl7d5vKr6b/3+NO2zb1/dmWIDahr5\
Bj5YRzwvskt2Y532I0TFj3vZl1eRaCa3k0BL6RAjJdZNHrThizOAiq8u2IM1FKJGBPOwXnE5uQVk\
hBDl7vwcVj2AyAuJuC1S/pJFc2aJ/QFR/DI7
compile_options=\
@eNrtVN9r2zAQfs9fIfw8xRlshYa64DhK482JjX+wbi9GtZVEqywZSWnX/vU7O3HaQhljYw8bMxid\
Tp++0+m+01pJ3NBbtuGCIdVarqSZjozVvLKl3sua6/KOab558BypnBHYBjCeMxmfT86c0SiIV8kU\
Oe5ONcy1zFj3Xulb09KK4bfvXSHuGte92XNRw8ClWwkqtwjHE4Rh2G7rG4Q/SYW5tLhS8siP8MZQ\
yS1/ZN7unta1ZsYgHP4wzCFKq9VXVlnjqpbJpnUhCcthk9EVwvMsIUEZJ2S9SiDGAXI4QM1azSpq\
WY0lXArQWGUfWoYw7FPD3YzVkQSG9ZzMiiswEpJGZRCnBE44hr/mcL4wBqtqqXRzCI+XPGVm8Czz\
VYQTqg3T4GLfrKshTmhaVmkqa6Ccx8UsImUW+dmSZGUXMfQjbzKk4Bd5XGZFkqQky04JzcvIT69I\
uQgjkp2m3azM4iINSOfrp/FikZG8nIV55p29QwhhY2uvOj9Hh+8YJgrXxXV53SOeu5POc2HUXlfs\
0hkFUxQE3j8sgkOK8exDnOSe80IRzgj0HyTFIvKvMlh7qY5+dUbWwbI8Af56uTijuLuNJA9X4RcC\
KR210yebxGnuz8IozD8Pt/Ekox5BrvPUL1/FJR0E0B9/4Un5M2I5ySN6lWkjFLWPSjL3yTqy0uqW\
bpkBOgMj6BpoQdgul8ZSIVzBO9WLNxjf75RgmOpqx++gsGIKS4ddw6YxPUJBoy/RCD+iZi9qtjGH\
Dn3Wx6828YW66bO97ACiQcP3pGiEerlHc+9/DX6mBn07RPNgaPBTQX6nT6AAKz9fgmvWcYrmWJO4\
6B6gZ6/Pd1ZkhRI=
exehash=24ff3a0b270045438016d4bdd5298900b20450a8e0eb8651bf2b8af8675f99bf

